html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form {
  width: 700px;
  min-width: 450px;
  padding: 30px;
}


.form--Wrapper {
  display: flex;
  justify-content:center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.table--wrapper {
  width: 85%;
  margin: 10px auto;
  padding: 10px 30px;
  
  overflow-x: scroll;
}
.table--wrapper h4 {
  text-align: center;
}
.table--wrapper table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px;
}
.tableRow {
  border-bottom: 1px solid black;
  text-align: center;
}


.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-component {
  width: 500px;
  padding: 30px;

}
.login-component h2 {
  text-align: center;
  margin: 0 0 20px 0;
  color: #081230;
  text-transform: uppercase;
}

.error {
  text-align: center;
  margin: 0;
  color: red;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  width:80%;
  margin:10px auto;
  font-family:Open Sans;

  color: #081230;
  padding:.5em 30px .5em 45px;
  border-left:5px solid #081230 ;
  line-height:1.6;
  position: relative;
  font-size: 18px;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#081230;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  font-size: 14px;
  display:block;
  color:#081230;
  font-style: normal;
  font-weight: bold;
  margin-top:.5em;
}

.closeButton {
  text-align: right;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
}