html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form {
  width: 500px;
  min-width: 450px;
  padding: 30px;
}


.form--Wrapper {
  display: flex;
  justify-content:center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.table--wrapper {
  width: 85%;
  margin: 10px auto;
  padding: 10px 30px;
  
  overflow-x: scroll;
}
.table--wrapper h4 {
  text-align: center;
}
.table--wrapper table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px;
}
.tableRow {
  border-bottom: 1px solid black;
  text-align: center;
}


.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-component {
  width: 500px;
  padding: 30px;

}
.login-component h2 {
  text-align: center;
  margin: 0 0 20px 0;
  color: #081230;
  text-transform: uppercase;
}

.error {
  text-align: center;
  margin: 0;
  color: red;
}